<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>839675662063-h1mta4t1gckuhc8b413smj9fli8b3i9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839675662063-h1mta4t1gckuhc8b413smj9fli8b3i9j</string>
	<key>API_KEY</key>
	<string>AIzaSyDQzX44h1lhpAZ0ZUM6kUwSEnysiCv9Dg0</string>
	<key>GCM_SENDER_ID</key>
	<string>839675662063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dackHartmouth.rightNow</string>
	<key>PROJECT_ID</key>
	<string>dackhartmouth</string>
	<key>STORAGE_BUCKET</key>
	<string>dackhartmouth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839675662063:ios:f749c5b553f392db</string>
	<key>DATABASE_URL</key>
	<string>https://dackhartmouth.firebaseio.com</string>
</dict>
</plist>